
/***    MMM-AQI  */

th {
    font-size: var(--font-size-medium);
}

th.city {
  padding-right: 1em;
}

td.key {
    max-width: 7.5em;
}

th.aqi.value {
    padding-left: 0.7em;
}

td.value,
.iaqi.key,
.timecell {
    padding-left: 1em;
}


th.city,
th.aqi.title,
.iaqi.key,
.atm.key {
  text-align: right;
}

th.aqi.value,
.atm.value,
.iaqi.value {
  text-align: left;
}

.city:before {
  font-family: "weathericons";
  content: "\f077";
  padding-right: 15px;
}

.city.moderate:before {
  content: "\f041";
}

.city.unhealthy-sensitive:before {
  content: "\f014";
}

.city.unhealthy:before{
  content: "\f062";
}

.city.very-unhealthy:before {
  content: "\f074";
}
.city.hazardous:before {
  content: "\f071";
}


/*  aqi colours  */
.good {
  color: #009966;
}

.moderate {
  color: #ffde33;
}

.unhealthy-sensitive {
  color: #ff9933;
}

.unhealthy {
  color: #cc0033;
}

.very-unhealthy,
.purple {
  color: #660099;
}

.hazardous {
  color: #7e0023;
}

/*  humidity > 90%  */
.underwater {
  color: #0455d7;
}

/*  temperature colours  */
/*  based on the met office colours: https://www.metoffice.gov.uk/blog/2023/no-need-to-see-red-over-met-office-colour-scale */
.darkblue {
  color: #4b5693;
}

.blue {
  color: #61abc1;
}


.lightgreen {
  color: #bfe2bb;
}

.lightyellow {
  color: #f6db8d;
}

.yellow {
  color: #f4cc7a;
}

.orange {
  color: #e38048;
}

.darkorange {
  color: #cd4e3b;
}

.red {
  color: #b12a35;
}

.darkred {
  color: #6c0318;
}